# Node.js dependencies
node_modules/
package-lock.json

# Baileys auth files and user data
auth/
data/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace